# 1번

In [ ]:
items = [11,29,22,36,40,25,14,7,16] 
#1.1
items[1]
#1.2
items[-3:]
#1.3
items[3:7]
#1.4
items[-1:-6:-1]

# 2번

In [12]:
#2.1
def fibA(num1 = 0, num2 = 1, N = True): 
    if N < 3:
        return 1
    a = num1
    b = num2
    for i in range(2,N):
        a, b= b, a+b
    return b
fibA(1,2,4)

5

In [ ]:
#2.2
N = int(input())

In [ ]:
#2.3
def make_pizza(size, *topping):
    '''
    make_pizza
    '''
    print(topping)
    return size

# 3번

In [ ]:
def function(a,b):
    c = list()
    for i in range(0,len(a)):
        if a[i]>=b[i]:
            c.append(a[i])
        else:
            c.append(b[i])
    return c

# 4번

In [ ]:
if (age>70):
    if (money<15000):
        print("Eligible for benefits")
    elif(money<20000):
        print("Elighible for reduced benefits")
    else:
        print("Not eligible for benefits")
else:
    if(money<20000):
        print("Eligible for reduced benefits")
    else:
        print("Not eligible for benefits")

# 5번

In [19]:
def myAll(iterable):
    for i in iterable:
        if i == False:
            return False
    return True

# 6번

In [4]:
inputData = input("Input String : ")
unique = set()
for i in inputData:
    if i not in unique:
        unique.add(i)
print(len(unique))

Input String : zzz
1

# 7번

In [ ]:
#7.1
a = {'x' : 1, 'y' : 2, 'z' : 3}
keys = a.keys()
values = a.values()

In [3]:
#7.2
range(100,0,-1)

range(100, 0, -1)

In [ ]:
#7.3
import math
a = math.inf
a == a+1

# 8번

In [16]:
#8.1
a = 14 + 1j

In [17]:
#8.2
b = 341

In [18]:
#8.3
c = 100000000

In [ ]:
#8.4

In [9]:
#8.5
if a<b and c>5:
    print("hello")

hello

In [15]:
#8.6
x = 12
not(x>=10 and x<20)

False

In [13]:
#8.7
7>1 and "t" in "it" and 4>2+2 and 7>3/0

False

In [14]:
#8.8
("mobility"+"patterns")[0]

'm'

In [10]:
#8.9
[] or None or 9 or ‘sun’

SyntaxError: invalid character in identifier (<ipython-input-10-d0122ee0087a>, line 2)