In [1]:
a=1

### 변수identifier, assignment 할당
이름쓰는 규칙: 첫글자에 숫자올수 없음, 숫자는 두번째부터 가능

### 이름은 영문자 사용, 두번째 단어의 첫글자 대문자로 쓰는것: camel방식:moonBeauty, 둘다 대문자:MoonBeauty, snake방식:moon_beauty(언더바 사용)
키워드 사용안됨(ex.for, dir..)

### PEP8: Python Enhencement Proposal 8

In [2]:
import keyword

In [4]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [5]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [14]:
a = b = 1

a = 1
b = 1

### 위의 두개는 좀 다름.

In [15]:
a, b = 1, 2

In [16]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [17]:
a = [1,2]

In [18]:
type (a)

list

### list안에는 숫자, 리스트 별것 다들어갈 수 있음, 맨끝에 콤마(,)를 찍어도 상관없음

In [19]:
a = [1, 2, "문근영", True, ["3"],]

###  list는 순서가 있는 것 - sequence. sequence는 indexing 과 slicing, for이 가능하다

In [20]:
a[0]

1

In [21]:
a[-1]

['3']

In [22]:
a[2:4]

['문근영', True]

In [23]:
1 in a

True

### sequence 타입은 in/not in 다음에 쓸 수 있다. (위의 예처럼)

In [24]:
1 not in a

False

In [25]:
for i in a:
    print (i)

1
2
문근영
True
['3']

### 파이썬은 대소문자를 구별하는 언어고, 들여쓰기를 중요시함(tab = space4개)

In [26]:
for j in 'abcde':
    print (j)

a
b
c
d
e

In [27]:
a = [1,2,3,4,5]

In [28]:
type (a)

list

In [29]:
dir (a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### dir은 그것이쓸수있는 기능을 알려줌

## mutable: 자기자신이 추가 삭제 등 값을 바꿀수있음(ex. list,bytearray,..), immutable: 바꿀 수 없음

## mutable한 것들은 dir검색시 append, remove, clear등이 나타남.

In [30]:
a = (1,2,3,4,5)

In [31]:
type (a)

tuple

In [32]:
dir (a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### tuple은 immutable하다. tuple도 sequence타입-indexing, slicing, for문에 사용가능

In [33]:
a = [1,2,1,4,1,2,3]
b = (1,2,1,4,1,2,3)

### dir 타입은 .으로 사용(ex. a.count)

In [35]:
a.count(1)

3

In [36]:
a.count(3)

1

In [37]:
a.index(2)

1

In [38]:
a + 3

TypeError: can only concatenate list (not "int") to list

In [39]:
b+3

TypeError: can only concatenate tuple (not "int") to tuple

In [40]:
b*3

(1, 2, 1, 4, 1, 2, 3, 1, 2, 1, 4, 1, 2, 3, 1, 2, 1, 4, 1, 2, 3)

In [41]:
a*3

[1, 2, 1, 4, 1, 2, 3, 1, 2, 1, 4, 1, 2, 3, 1, 2, 1, 4, 1, 2, 3]

In [42]:
a+['moon']

[1, 2, 1, 4, 1, 2, 3, 'moon']

In [43]:
a*['moon']

TypeError: can't multiply sequence by non-int of type 'list'

In [44]:
b+('moon')

TypeError: can only concatenate tuple (not "str") to tuple

In [45]:
b+['moon']

TypeError: can only concatenate tuple (not "list") to tuple

#### 타입마다 되는것이있고 안되는것이 있다.

In [47]:
a.remove(1)

#### 위처럼 결과값이 나오지않는 것은 자기자신이 변했다는 것, 그러면 확인해보면 됨.

In [50]:
a

[2, 1, 4, 1, 2]

In [51]:
a.pop()

2

#### pop은 맨끝에 있는것을 뽑아서 값을 리턴해주고 없앰.

In [52]:
a

[2, 1, 4, 1]

In [53]:
a = (1)

In [54]:
type (a)

int

In [55]:
a = (1,)

In [56]:
type (a)

tuple

In [57]:
a = 1,

In [59]:
type (a)

tuple

In [60]:
a = 1,2,3,4,

In [61]:
type (a)

tuple

In [63]:
a

(1, 2, 3, 4)

In [68]:
a,b,c,d = 1,2,3,4

In [69]:
a

1

In [70]:
a,b = 1,2,3,4

ValueError: too many values to unpack (expected 2)

In [71]:
a,*b = 1,2,3,4

In [72]:
a

1

In [74]:
b

[2, 3, 4]

#### *는 나머지를 뜻함

In [75]:
*a,b = 1,2,3,4

In [76]:
a

[1, 2, 3]

In [77]:
b

4

In [78]:
a,b,*c = 1,2,3,4

In [79]:
c

[3, 4]

In [80]:
type (c)

list

#### 할당방법: unpacking

In [81]:
a=b=1

In [82]:
a

1

In [83]:
b

1

#### 할당방법에는 7가지있음.

In [84]:
range(10)

range(0, 10)

In [85]:
range(10)[0]

0

In [86]:
range(10)[-1]

9

In [87]:
range(1,10)[0]

1

#### range는 그사이를 int형으로 쭉나열해주는 것-sequence

In [88]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [91]:
for i in range(10,3):
    print(i)

In [92]:
for i in range(1,10):
    print(2,'*',i,'=',2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [93]:
a = 3
for i in range(1,10):
    print(a,'*',i,'=',a*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [94]:
a = input()
for i in range(1,10):
    print(a,'*',i,'=',a*i)

3
3 * 1 = 3
3 * 2 = 33
3 * 3 = 333
3 * 4 = 3333
3 * 5 = 33333
3 * 6 = 333333
3 * 7 = 3333333
3 * 8 = 33333333
3 * 9 = 333333333

In [95]:
type (a)

str

In [97]:
a = input()
a = int(a)
for i in range(1,10):
    print(a,'*',i,'=',a*i)

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

#### 형변환

In [98]:
a=1

In [102]:
a +=1 #a=a+1

In [101]:
a *=1 #a=a*1